/* Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

/* Reset and Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text: #0f0316;
  --background: #fffefc;
  --primary: #799a8d;
  --secondary: #fffcf0;
  --accent: #26736e;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: var(--primary);
  color: var(--text);
}
